.card {
  position: relative;
  width: 300px;
  height: 90vh;
  display: flex;
  flex-direction: column;
}


.type {
  font-size: 14px;
  color: #888888;
}

.title {
  font-size: 16px;
  font-weight: 700;
  margin: 4px 0;
}

.description {
  font-size: 14px;
  color: #555555;
  margin: 0 0 4px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin: 0;
}
.trending {
  font-size: 14px;
  font-weight: 700;
  color: #ff6b00;
  display: block;
  margin: 4px 0;
}


.link {
  text-decoration: none;
  color: inherit;
}


